<?xml version ='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Yahoo App Test Automation" verbose="1" >
  <test name="Yahoo App test" >
    
      <parameter name = "url" value = "https://login.yahoo.com" />
      <parameter name = "emailID" value = "test@yahoo.com" />
    
    <classes>
       <class name="com.parameters.ParameterTest" />
    </classes>
  
  </test> 
</suite>
